table,
td,
th {
  border: 1px solid black;
  margin: auto;
  font-size: 25px;
  width: fit-content;
}
td {
  padding: 8px;
}
table {
  margin-top: 0.75rem;
}
caption {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(225, 241, 9);
  color: black;
}
.feetype {
  background-color: chartreuse;
}
